<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laptop Price Predition Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
   
</head>



<body>
    <nav class="navbar bg-primary navbar-expand-lg">
        <div class="container-fluid">     
            <a class="navbar-brand" href="/">Laptop Price Prediction</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/lap-prediction">Laptop Price Prediction</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/lap-price-prediction-result">Laptop Price Prediction Result</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-image" 
     style="background-image: url('/static/builtin/56.jpg');
            height: 100vh;">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-12 mt-3">
                <div class="col-lg-1.5 mt-3 text-center">
                    <h1 class="bg-dark text-white">LAPTOP</h1>
                </div>
            </div>
    
            
            <div class="col-lg-6 mt-3 text-black">
               <p><h5> A laptop computer or notebook computer, also known as a laptop  
                    or notebook for short, is a small, portable personal computer (PC).
                     Laptops typically have a clamshell form factor with a flat panel
                    screen (usually 11-17 in or 280-430 mm in diagonal size ) on the 
                    inside of the upper lid and an alphanumeric keyboard and pointing 
                    device (such as a trackpad and/or trackpoint) on the inside of the 
                    lower lid, although 2-in-1 PCs with a detachable keyboard are often 
                    marketed as laptops or as having a "laptop mode".
               </p>
                <p>  Most of the computer's internal hardware is fitted inside the lower lid
                     enclosure under the keyboard, although many laptops have a built-in webcam
                      at the top of the screen and some modern ones even feature a touch-screen 
                      display. In most cases, unlike tablet computers which run on mobile operating
                       systems, laptops tend to run on desktop operating systems which have been
                     traditionally associated with desktop computers.
                </h5></p>
            </div>
            <div class="col-lg-6 mt-5">
                <img src="/static/builtin/51.jpg" class="img-rounded" alt="Cinque Terre" width="504" height="336"> 
                <div class="col-lg-12 mt-2 text-center">
                    <h5 class="text-black"><b>Laptop</b></h5>
                </div>
            </div>
            </div>
        </div>
    </div>
</body>

</html>
